<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="sign.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Sign in</title>
  </head>
  <body>
    <div class="sign-body">
      <div class="container" id="container">
        <div class="form-container sign-in-container">
          
          <h1>Sign in</h1>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.email_field :email, autofocus: true, placeholder:"Email" , autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.password_field :password, placeholder:"Password" , autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Sign in",class: 'remove-submit-btn-style'%>
            </div>
            <%= link_to "Sign up", new_user_registration_path,class: "signin-btn" %>
          <% end %>
        
        </div>
      </div>
    </div>  
  </body>
</html>

