<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feedback.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @feedback.body %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @feedback.owner_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @feedback.user_id %>
</p>
