<link rel="stylesheet" href="posts.css">
<%= form_for @post,html: {multipart: true} do |f| %>
    <div class="form-group">
        <h3><%= f.label :title%></h3>
        <%= f.text_field :title, class:"title-input"%>  
    </div>
    
    <div class="form-group">
         <h3><%= f.label :price%></h3>
        <%= f.text_field :price, class:"title-input", type: "number"%>  
    </div>
    <div class="form-group">
        <%= f.label :category_id %>
        <%= f.collection_select :category_id, Category.order(:name), :id, :name, { include_blank: false }, class: 'form-control' %>
    </div>


    <div class="form-group">
        <h3><%= f.label :body%></h3>
        <%= f.text_area :body, class:"body-input" %>
    </div>

    <div class="form-group">
        <%= f.file_field :image, class:"image-input" %>
    </div>

    <div class="form-group">
        <%= f.submit t('common.create'), class:"create-btn"%>
    </div>
 
<% end %>