
<div class="announcements-row">

<% @posts.each do |post| %>
   
  
      <a class="announcement" href="#ebhwjd">
        <div class="img-price">
           <%= image_tag post.image.url(:large), class: 'some_class' if post.image? %>
          <div class="bottom-left">
            <p><%= post.price %> PLN</p>
          </div>
        </div>
        <h3><%= link_to post.title, post_path(post) %></h3>
        <h5> <%= link_to 'Creator', user_url(post.owner_id) %></h5>
        <small><%= post.created_at %></small>
      </a>


<% end %>
</div>


<div style='margin-top: 10vh'>
USERS:
<% @users.each do |user| %>
  <%= link_to user.email, user_url(user.id), style: 'color: red' %>
<% end %>
</div>
