<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="home.scss">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <header>
  <ul>
      <li><%= link_to 'Auto parts', root_url, :class => 'active' %></li>
      <li><a href="#language">Language</a></li>
      <% if user_signed_in? %>
        <li class="sign-btn">  <%= link_to 'Profile', user_url(current_user.id) %> </li>
        <li class="sign-btn">  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <li class="sign-btn">  <%= link_to "Create ad", new_post_path, method: :get, :class => 'navbar-link'  %>  </li>
      <% else %>
        <li class="sign-btn"> <%= link_to "Sign up", new_user_registration_path %> </li>
        <li class="sign-btn"> <%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
    </ul> 
  </header>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <%= yield %>
        </div>
      </div>
    </div>
</html>
