<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="home.scss">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', 
                    media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <nav role="navigation">
  <ul class="topmenu">
      <li><%= link_to t('common.Home'), root_url%></li>
      <li><%= link_to t('common.Language') %>
        <ul class="submenu">
          <li>   <%= link_to t("common.ru"),{locale: :ru}  %></li>
          <!--<li> <%# link_to t("common.pl"),{locale: :pl} ,:class => 'sign-btn'  %></li>-->
          <li>  <%= link_to t("common.en"), {locale: :en}  %></li>
        </ul>
      </li>    
      <% if user_signed_in? %>
        <li class="sign-btn">  <%= link_to t('common.Create_ad'), new_post_path, method: :get, :class => 'navbar-link'  %>  </li>
        <li class="sign-btn">  <%= link_to t('common.Chats'), rooms_path, method: :get, :class => 'navbar-link'  %>  </li>
        <li class="sign-btn">  <%= link_to t('common.Profile'), user_url(current_user.id) %> </li>
        <li class="sign-btn">  <%= link_to t('common.Logout'), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
      <% else %>
        <li class="sign-btn"> <%= link_to t("common.Sign_up"), new_user_registration_path %> </li>
        <li class="sign-btn"> <%= link_to t("common.Sign_in"), new_user_session_path %></li>
      <% end %>
    </ul> 
  </nav>
  <%= yield %> 
</html>
