<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="stylesheet" href="sign.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title><%= t('common.Sign_up')%></title>
  </head>
  <body>
    <div class=sign-body>
      <div class="container" id="container">
        <div class="form-container sign-container">
          <div class="form-container">         
            <h1><%= t('common.Sign_up')%></h1>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "users/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:t("common.email") %>
                </div>
                
                <div class="field">
                  <%= f.text_field :first_name, autocomplete: "first_name", placeholder:t("common.First_name") %>
                </div>
                
                <div class="field">
                  <%= f.text_field :second_name, autocomplete: "second_name",placeholder:t("common.Second_name") %>
                </div>

                <div class="field">
                  <%= f.password_field :password, autocomplete: "new-password", placeholder:t("common.6_symbols_password") %>
                </div>

                <div class="field">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:t("common.Repeat_password") %>
                </div>

                <div class="actions">
                  <%= f.submit t("common.Sign_up"), class: 'remove-submit-btn-style' %>
                </div>
              
              <%= link_to t("common.Sign_in"), new_user_session_path,class: "signin-btn" %>
  
              <% end %>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
